{% extends "base.twig" %}

{% block header %}
<link href='css/home.css' rel='stylesheet' type='text/css'>
{{ parent() }}
{% endblock %}

{% block body %} 
<section ng-controller="CategoryController">
	<div class="category" ng-repeat="category in categories">
		<div class="subcategory-detail-titles">
			<div class="subject-number">Subjects</div>
			<div class="post-number">Posts</div>
			<div class="last-message">Last message</div>
		</div>
		<h2>{{ '{{ category.Title }}' }}</h2>
		<div class="subcategory" ng-repeat="subcategory in category.Subcategorys">
			<div class="subcategory-detail-values">
				<div class="subject-number">0</div>
				<div class="post-number">0</div>
				<div class="last-message">-</div>
			</div>
			<h3>{{ '{{ subcategory.Title }}' }}</h3>
		</div>
	</div>
</section>
{% endblock %}