{% extends "base.twig" %}

{% block header %}
<link href='css/home.css' rel='stylesheet' type='text/css'>
{{ parent() }}
{% endblock %}

{% block body %} 
<section ng-controller="CategoryController">
	<div class="category" ng-repeat="category in categories">
		<div class="forum-detail-titles">
			<div class="subject-number">Subjects</div>
			<div class="post-number">Posts</div>
			<div class="last-message">Last message</div>
		</div>
		<h2>{{ '{{ category.Title }}' }}</h2>
		<div class="forum" ng-repeat="forum in category.Forums">
			<div class="forum-detail-values">
				<div class="subject-number">{{ '{{ forum.NbSubjects }}' }}</div>
				<div class="post-number">{{ '{{ forum.NbPosts }}' }}</div>
				<div class="last-message">&nbsp;{{ '{{ forum.LastPost.Message }}' }}</div>
			</div>
			<h3>{{ '{{ forum.Title }}' }}</h3>
		</div>
	</div>
</section>
{% endblock %}